main,header,footer{
    background-color: lightskyblue;
    margin: 5px;
}
h1{
    color: gray;
    font-size: xx-large;
}
h2{
    color:lightseagreen;
}
h3{
    color: green;
}

ul{
    list-style-type: circle;
}

ol{
    list-style-type: lower-alpha;
}